.jumbotron{
    background-image: url('../images/jumbotron.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    font-size: 20px;
}